*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    font-family: 'Lato', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px ;
}
nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type:none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: darkgrey;
}

p{
    color: darkgray;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: lightblue;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}
.btn:hover{
    background: whitesmoke;
}

.header{
    background: radial-gradient(#fff,lightblue);
}

.header .row{
    margin-top: 70px;
}

.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img {
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.title{
    text-align: center;
margin: 0 auto 80px;
position: relative;
line-height: 60px;
color: darkgrey;
}

.title::after{
    content: '';
    background: blueviolet;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

h4{
    color: black;
    font-weight: normal;
}

.col-4 p{
    font-size:14px
}

.col-4:hover{
    transform: translateY(-5px);
}

/* offer */
.offer{
    background: radial-gradient(#fff,lightblue);
    margin-top: 80px;
    padding: 30px;
}
.col-2 .offer-img{
    padding: 80px;
}

.testimonial{
padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border-radius: 50%;
    object-fit: cover;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3 {
font-weight: 600;
color: grey;
font-size: 16px;
}

.footer{
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col1,.footer-col2,.footer-col3{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col1{
    flex-basis: 30%;
}
.footer-col2{
    flex:1;
    text-align: center;
}
.footer-col1 img {
    width: 180px;
    margin-bottom: 20px;
}
ul{
    list-style-type: none;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/*----- all products page------*/
.row-2{ 
    justify-content: space-between;
    margin:70px auto 50px;
}
select{
    border: 1px solid brown;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 70px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid brown;
    margin-left:5px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height:20px;
    cursor: pointer;
}
.page-btn span:hover{
    background:brown;
    color: white;
}

/*About us page*/
.container1{
    background: radial-gradient(#fff,lightblue);
    margin-top: 0px;
    padding: 30px;
}
.container2{
    max-width: 1080px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    text-align:center;
}
.in{
    font-size:x-large;
    line-height: 2;
    border-bottom: 1px solid darkgrey;
    padding-bottom:25px;
}
.inner{
    font-size:medium;
    line-height: 1.5;
}
.par1{
    line-height: 1.5;
    font-size:medium;
    margin-top: 20px;
    margin-bottom: 20px;
}
.par2{
    line-height: 1.5;
    font-size:medium;
    margin-top: 0;
    margin-bottom: 0;
}
.thefounders{
    text-align:center;
    font-size:x-large;
    padding-bottom: 30px;
    

}
.role{
    font-size:50px;
    line-height:0px;
}

/* media query for menu */
@media only screen and (max-width:800px){
    nav ul {
        position: absolute;
        top: 140px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition:max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: white;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/* media query for less than 600px*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
}